:root{
    --html-background: #333336;
    --html-color: white;
    --input-color: black;
}

.theme-light{
    --html-background: rgb(208, 245, 249);
    --html-color: #333336;
    --input-color: white;
}

.theme-dark{
    --html-background: #333336;
    --html-color: white;
    --input-color: black;
}

html{
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: var(--html-background);
    color: var(--html-color);
}

html, body, div{
    margin: 0;
    padding: 0;
    display: grid;
    grid: minmax(0, 1fr);
}

body{
    min-height: 100vh;
    max-height: 100vh;
}

input, button, a{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 0;
    color: inherit;
}

input{
    background: var(--input-color);
}

button{
    padding: 8px 16px;
    background: #2ae;
    font-weight: 600;
    border-radius: 7px;
    box-shadow: 1px 2px 10px black;
    transition: all 145ms ease-out;
}

button:hover{
    background: #3cf;
    box-shadow: 2px 5px 20px black;
}

button:active{
    box-shadow: none;
    background: #17b;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}